#ignore everything
*~
#but not these files
#Descrição dos arquivos´pastas a serem ignorados

Software/C/why_not/*.vs
Software/C/why_not/*.atsln
Software/C/why_not/why_not/Debug
Software/C/why_not/why_not/*.xml
Software/C/why_not/why_not/*.cproj

Software/C/why_not_TX/*.vs
Software/C/why_not_TX/*.atsln
Software/C/why_not_TX/why_not_TX/Debug
Software/C/why_not_TX/why_not_TX/*.xml
Software/C/why_not_TX/why_not_TX/*.cproj

Software/C/gateway_i2cLCD/*.vs
Software/C/gateway_i2cLCD/*.atsln
Software/C/gateway_i2cLCD/gateway_i2cLCD/Debug
Software/C/gateway_i2cLCD/gateway_i2cLCD/*.xml
Software/C/gateway_i2cLCD/gateway_i2cLCD/*.cproj

*.sh
